.customEventContainer {
  display: flex;
  flex-direction: column;
}

.registrationEventContainer {
    display: flex;
    flex-direction: column;
}

.customBtn {
    width: fit-content;
}

.registrationBtn {
    width: fit-content;
}